.admin-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f3f4f6;
    /* Light gray background */
}

.main-content {
    flex: 1;
    margin-left: 260px;
    /* Width of Sidebar */
    padding: 2rem;
    overflow-y: auto;
}